<style>
    * {
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    form {
        padding: 50px 20px;
        background-color: #ededed;
        margin-left: calc(25% + 100px);
        margin-right: calc(25% + 100px);
        margin-top: 10%;
        padding-top: 28px;
        margin-bottom: 50%;
    }

    #h1s {
        text-align: center;
        padding: 12px;
        color: #444;
        margin-left: 35%;
        font-size: 20px;
    }

    #nombre_usuario {
        width: calc(100%);
        padding: 9px;
        margin: auto;
        margin-top: 12px;
        font-size: 16px;
    }

    #apellido_usuario {
        width: calc(100%);
        padding: 9px;
        margin: auto;
        margin-top: 12px;
        font-size: 16px;

    }

    #enviar {
        width: calc(100%);
        padding: 9px;
        margin: auto;
        margin-top: 12px;
        font-size: 16px;
    }

    input[type='submit'] {
        background-color: #48e;
        color: #fff;
        width: calc(80% - 20px);
        margin: 0 10%;
        margin-top: 22px;
        border: none;
    }


    .ok {
        text-align: center;
        width: 100%;
        padding: 12px;
        background-color: #1ea;
        color: #fff;
    }

    .bad {
        text-align: center;
        width: 100%;
        padding: 12px;
        background-color: #a22;
        color: #fff;
    }
</style>